p{
  color: rgba(215, 34, 34, 0.575);
  font-size: 22px;
  border-color: rgb(101, 55, 201);
  border: 30px;}
h1{
  color: rgb(0, 0, 10);
  font-size: 30px;
}
table,tr,td{
  border: 8px solid rgb(20, 14, 5);
  box-shadow: 5px solid rgb(103, 252, 255);
}
table{
  font-size: 10px solid rgb(89, 6, 89);
}
table, td
{
  width: 70%;
}
