<div class="wrapper">
  <header>
    <nav>
      <div class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="menu-icon e">
          <i class="fa fa-bars fa-2x"></i>
        </div>
        <div class="logo e">JAGADEESAN</div>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <div class="menu">
            <ul class="e navbar-nav">
              <li class="nav-item"><a href="#">Home</a></li>
              <li class="nav-item"><a href="#">About</a></li>
              <li class="nav-item"><a href="#">Blog</a></li>
              <li class="nav-item"><a href="#">Contact</a></li>
              <li class="nav-item"><a href="#">Cont


               act</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <div class="content" style="background-color: black">
    <p style="height: 700px">dkjghjhj;l avchwk,.mf hmyajn.fgvjm,gqhaak</p>
  </div>
</div>
