<div class="container">
<div class="row">
  <div class="col-3 a1">
    <img src="assets/1.png" alt="" width="100%">
  </div>
  <div class="col-9 a2">
    <p>Papain an enzyme obtained from the green unripe Carica papaya fruit. The latex yield of papain depends on the growing conditions of the tree. Highest activity of
      unripe fruits occurs in regions where humidity and sun are constant throughout the year.</p>
      <div class="row">
        <div class="col-6 a3">10</div>
        <div class="col-6 a4">20</div>
      </div>
  </div>
</div>

<div class="text-center"><img src="assets/1.png" alt="" width="100px"></div>

<div class="row">
  <div class="col-9">
    <p>Horseradish peroxidase (HRP), is a plant derived enzyme and is extracted from the roots of
      horseradish and is worldwide used extensively in biochemistry applications.</p><br>
    <p>The main application for HRP in molecular biology and protein research is as a reporter system for immunoassays and other
      probe-based assay techniques such as ELISA, Western blotting, EMSA and Southern blotting.</p>
  </div>
  <div class="col-3">
    <img src="assets/img14.png" alt="">
  </div>
</div>

<!----------------------Demo-------------------->

<div class="gradient">
  <h1>one</h1>
  </div>



</div>


<i class="fa fa-inr a21" aria-hidden="true"></i>







