.a1{background-color: pink;}
.a2{background-color: aquamarine;}
.a3{background-color: yellowgreen;}
.a4{background-color: yellow;}

.gradient
{
  background-image: linear-gradient(to right, #6f2cf4 , #ffffff);
}

.a21
{
  font-size: 50px;
}
