<nav class="navbar navbar-expand-lg" style="background-color: rgb(0, 0, 0);padding-bottom: 10px;">

    <a class="navbar-brand" href="#" style=" color:rgb(255, 255, 255); text-align: left;padding-left: 20px;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
   <img src="https://t4.ftcdn.net/jpg/03/29/50/23/240_F_329502324_p6fhwznddFyhyqxZbOgalr9bndZyn0IT.jpg" style="width: 50px;" alt="">
    <p  style="font-family: Courier New ;font-size: 10px;">shop with us</p></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <div class="w2"  style="background-color: #000000; font-size: 20px;"><a href="https://jsfiddle.net/qLfg2mrd/"><i class="fa fa-shopping-cart heart" aria-hidden="true" style="color: rgb(35, 79, 255);" ></i></a></div>
        </li>
        <li class="nav-item" style="padding-left: 40px;">
          <div class="w2"  style="background-color: #000000; font-size: 20px;"><a href="https://jsfiddle.net/qLfg2mrd/"><i class="fa fa-heart" aria-hidden="true" style="color: rgb(255, 35, 35);" ></i></a></div>
        </li>
        <div class="container-fluid" style="padding-left: 25px;">
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </ul>

    </div>

</nav>
